*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #f1f3f6;
    
}
.A-opt{


    display: flex;
    align-items: center;
    justify-content: space-evenly;


    padding-bottom: 15px;
    

    width: 100%;
    height: 30px;
    background-color: #fffffff5;
}
ul.ex-opt{
    display: flex;
    margin-right: 30px;
}
ul.ex-opt li{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 200px;
    list-style-type: none;
    margin-left:43px;
    font-size:16px;
    margin-top: 13.5px;
    font-family: sans-serif;
}
.catg{
    width: 15%;
    height: 100%;
    background-color: #fffffff5;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 3px;
    float: left;
    border-style:initial;
    border-color: black;
    
    
}
.cat-tag{
    margin-left: 5px;
}
.cat1-opt{
    margin-left: 15px;
}
.cat1op1{
    font-size: 14px;
}
span.cat1op1 p a{
    text-decoration: none;
    color: black;
}

.filt1{
    margin-left: 10px;
    font-family:sans-serif ;
    
}
span.rg{
    display: flex;
}
.rg1{
    width:70px;
    
}
.rg2{
    width:70px;
}
.scr-bar{
    width:95%;
}
.hr1{
    border: 1px solid rgb(214, 207, 207);
}



/*brand filter*/

/*CPU Type*/
.cpu-type{
    font-family: sans-serif;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
}
div.cpu-type form a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    display: flex;
    margin-top:-25px;
    
}
div.cpu-type form a label{
    margin-left: 5px;
}
.cpu-type_position{

    margin-top: 20px;
}



.div-row3{
    margin-top: 15px;
    margin-left: 10px;
    font-family: serif;

}
.brad-search{
    border-style: none;
    border-bottom: 1px solid rgb(214, 207, 207);
    background-color: white;
    width: 95%;
    margin-top: 15px;
}
.bi-search{
    display: flex;
    margin-left: 88%;
    margin-top:-10%;
    margin-bottom: 10px;
}
.mod-el{
    margin-left: 10px;
    margin-top: 10px;
}
form.mod-el a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    display: flex;
    margin-top:-25px;
    
    
    
}
form.mod-el a label{
    margin-left: 7px;
}
.row5{
    margin-top: 10px;
    margin-left: 10px;
}

/*Mobile Phone Section*/

.container1{
    margin-right: 10px;
    width:82.6%;
    margin-top: 5px;
    float: right;
    height:210px;
    color: black;
    border-radius: 3px;
    background-color:#fffffff5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*img class*/
.pr-dt{
    width: auto;
    height: 125px;
    margin-top: -24.5%;
    margin-left: -35%;
    display: flex;
    
}

.container2{
    width:50%;
    height:160px;
    background-color: #fffffff5;
    float: right;
    margin-right: 30%;
    margin-top: 25px;

}
/*product details class start*/
.dv-head {
    margin-left:6%;
}
p.dv-head b{
    font-family: sans-serif;
}
a:hover p.dv-head b{
    color: rgb(1, 141, 255);
}

.dv-dt{
    margin-top: 10px;
    margin-left: 11%;
    font-size: small;
}
/*product details class end*/

/*price class*/
.container3{
    width:20%;
    height:auto;
    background-color: #fffffff5;
    float: left;
    margin-left: 73.5%;
    margin-top: -13.6%;
}
.prc-ls{
    list-style-type: none;
    font-family: sans-serif;
    margin-top: 10px;
    font-size: medium;
}
.ls-ed{
    margin-top: 5px;
}


/* Responsive Program*/
@media only screen and (max-width:380px){

    .A-opt{
        width: 100%;
        height: 20px;
        background-color: #fffffff5;
    }

    ul.ex-opt{
        display: flex;
    }

    ul.ex-opt li{

        list-style-type: none;
        margin-left:6px;
        font-size:5.3px;
        margin-top:5.5px;
        font-family: sans-serif;
    }
}