*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #f1f3f6;
    
}
/*Navigation Bar Start*/
.A-opt{
    /*display: flex;*/
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 15px;
    width: 100%;
    height: 30px;
    background-color: #fffffff5;
}
ul.ex-opt{
    display: flex;
    margin-right: 30px;
}
ul.ex-opt li{
    /*display: flex;*/
    align-items: center;
    justify-content: space-evenly;
    gap: 200px;
    list-style-type: none;
    margin-left:43px;
    font-size:16px;
    margin-top: 13px;
    font-family: sans-serif;
}
/*Navigation Bar End*/


/*Left Nevigation Bar/Product Catogary */
.catg{
    width: 15%;
    height: 100%;
    background-color: #fffffff5;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 3px;
    float: left;
    border-style:initial;
    border-color: black;  
}
.cat-tag{
    margin-left: 5px;
    font-family: sans-serif;
}
#elec {
    margin-left:5px; 
    font-family:'Times New Roman', Times, serif;   
}
.cat1-opt{
    margin-left: 15px;
}
div.cat1-opt b{
    margin-left: 10px;
    font-family: sans-serif;
}
.cat1op1{
    font-size: 14px;
}
span.cat1op1 p a{
    text-decoration: none;
    color: black;
}
#prod-type{
    margin-left: 20px; font-family: sans-serif; padding-top: 5px;
}
/*Catogary Section End*/

/*Product Filter Section*/

.filt1{
    margin-left: 10px;
    font-family:sans-serif ;
    
}
.filt1  p{
    margin-top:10px; 
}
#pr-range{
    padding-left: 8px;
    padding-right:8px;
}
span.rg{
    display: flex;
}
.rg1{
    width:70px;
    
}
.scr-bar{
    width:95%;
}
.hr1{
    border: 1px solid rgb(214, 207, 207);
}



/*brand filter/Search*/
.div-row3{
    margin-top: 15px;
    margin-left: 10px;
    font-family: serif;

}
div.div-row3 p{
    font-family: sans-serif;
}
.brad-search{
    border-style: none;
    border-bottom: 1px solid rgb(214, 207, 207);
    background-color: white;
    width: 95%;
    margin-top: 15px;
}

    

.bi-search{
    display: flex;
    margin-left: 88%;
    margin-top:-10%;
    margin-bottom: 10px;
}
/*Brand Search/Filter End*/

/*Deal Discount & item Condition*/
#cat1op1 p a{
    font-size: 14px;
    text-decoration:none;
    color: black;
}
#cat1op1    p{
    margin-top:3px;
}




/*All Componant Type Start*/
#comp-type{
    margin-bottom: 100px;
}
/*All Component Type End*/
/*CPU Type*/
.cpu-type{
    font-family: sans-serif;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
}
div.cpu-type form a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    display: flex;
    margin-top:-25px;
    
}
div.cpu-type form a label{
    margin-left: 5px;
}
.cpu-type_position{

    margin-top: 20px;
}




.mod-el{
    margin-left: 10px;
    margin-top: 10px;
}
form.mod-el a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    display: flex;
    margin-top:-25px;
    
    
    
}
form.mod-el a label{
    margin-left: 7px;
}
.row5{
    margin-top: 10px;
    margin-left: 10px;
}

/*Mobile Phone Section*/

.container1{
    margin-right: 10px;
    width:82.6%;
    margin-top: 5px;
    float: right;
    height:210px;
    color: black;
    border-radius: 3px;
    background-color:#fffffff5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*img class*/
.pr-dt{
    width: auto;
    height: 125px;
    margin-top: -24.5%;
    margin-left: -35%;
    display: flex;
    
}

.container2{
    width:50%;
    height:160px;
    background-color: #fffffff5;
    float: right;
    margin-right: 30%;
    margin-top: 25px;

}
/*product details class start*/
.dv-head {
    margin-left:6%;
}
p.dv-head b{
    font-family: sans-serif;
}
a:hover p.dv-head b{
    color: rgb(1, 141, 255);
}

.dv-dt{
    margin-top: 10px;
    margin-left: 11%;
    font-size: small;
}
/*product details class end*/

/*price class*/
.container3{
    width:20%;
    height:auto;
    background-color: #fffffff5;
    float: left;
    margin-left: 73.5%;
    margin-top: -13.6%;
}
.prc-ls{
    list-style-type: none;
    font-family: sans-serif;
    margin-top: 10px;
    font-size: medium;
}
.ls-ed{
    margin-top: 5px;
}


/* Responsive Program*/