*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --color1:#fffffff5;
    --color2:#f1f3f6;
    --color8:#878787;

    /*Tanmay Css*/
    --color:  #727272;
    --seccolor: #b8bbbb;
    --color3:#f8caca;
    --seccolor3: #ebdfdf;
}
body{
    background-color: var(--color2);
}


/*Tanmay Navigation Bar End*/
header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    font-size: 1.2rem;
    font-family: system-ui;
    background-color:var(--color1);
    padding-bottom: 10px;
}

.navbar {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 200px;
}

.nav-logo {
    background-image: url("final logo.png"); 
    background-size: cover;
    width: 40px;
    height: 48px;
    margin-bottom: 8px;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1.2rem;
}
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color:var(--seccolor3);
    width: 270px;
    height: 40px;
    border-radius: 4px;
    margin-left: 90px;
}
.fa-solid{
    width: 20px;
}
.nav-fav {
    margin-left: -55px;
}
.fa-heart{
    width: 20px;
    margin-top: 5.5px;
}
.nav-cart {
    margin-left: -55px;
    text-decoration: none;
}
.fa-cart-shopping{
    width: 20px;
}

.search-input {
    outline: none;
    border: none;
    background-color:  var(--seccolor3);
}
.hac {
    display: flex;
    align-items: center;
    gap: 50px;
}
.home a {
    color: black;
    text-decoration: none;
}
.about a {
    color: black;
    text-decoration: none;
}
.sign-up a {
    color: black;
    text-decoration: none;
}
.home :hover {
    color: wheat;
}
.about :hover {
    color: wheat;
}
.sign-up :hover {
    color: wheat;
}
.nav-fav :hover {
    color: wheat;
}
.nav-cart :hover {
    color: wheat;
}

/* Tanmay navbar ends here  */



/*Login Page Start here*/

.container1{
    background-color: var(--color1);
}
.hr1{
    border: 1px solid rgb(214, 207, 207);
}
.container2{
    width:75%;
    height: 550px;
    background-color:rgba(172, 229, 231, 0.288);
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 30px;
    border-radius: 5px;
}
.image-sec{
    width: 40%;
    height:490px;
    background-color: var(--color1);
    border-radius: 5px;

}

.bg-img{
    width: 430px;
    margin-top: 100px;
    margin-left: -20px;
}
.contaner3{
    width: 60%;
    height:490px;


    margin-top: -48%;
    float: right;

    border-radius: 3px;
    padding: 2%


}
.logpage{
    margin-left: auto;
    margin-right: auto;

    width: 90%;
    height: 350px;
    margin-top:45px;
    padding: 10px;
}
form{
    margin-top: 30px;
}


.logpage b{
    font-size: 25px;
    padding-bottom: 2px;
}
.uname{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 17px;

}
.acc{
    border-radius: 3px;
}
.pass{
    width:100%;
    height: 40px;
    outline: none;
    border: none;

    padding: 10px;
    font-size: 17px;
}


.fog{
    margin-top: 120px;
}
b.fogps a{
    font-size: 15px;
    color: rgb(228, 14, 46);
    float: right;
    text-decoration: none;
    margin-top: 8px;
}

input.submit{
    height: 40px;
    width: 25%;
    font-size: 20px;
    background-color: orangered;
    border: none;
    overflow: none;
    border-radius: 2px;
    color: var(--color1);
    margin-top: 50px;
}
.submit2{
    height: 40px;
    width: 32%;
    text-decoration: none;
    /*box-shadow: 1px 2px 1px 2px #888888;*/
    font-size: 20px;
    background-color: var(--color1);
    box-shadow: 0px 2px 2px var(--color8);
    /*border: none;*/
    overflow: none;
    border-radius: 2px;
    color: #000000;
    
    padding: 5px;
    /*float: ;*/
    margin-top: 20px;
    margin-left: 5%;
    font-style:inherit;
}

.pointer{
    cursor: pointer;
}


/*.login-by-g{
    display: flex;
    margin-top: 20px;
}*/

/*.goog-noti{
    font-size: large;
    margin-top: 20px;
}*/

.google{
    width:40%;
    height: 32px;
    background-color: var(--color1);

    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin-top: 25px;
    color: rgb(228, 14, 46);
}
.google a{
    color: rgb(228, 14, 46);
    text-decoration: none;
}
.g-ac{
margin-left: 10px;
}
.g-ac b{
    font-size: 17px;
}
.bi-google{
    width:16px; 
    height:16px;
}