*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}
:root{
    --color1:#fffffff5;
    --color2:#f1f3f6;
}
body{
    background-color: var(--color2);   
}

a{
    text-decoration: none;
    color: black;
}
/*Navigation Bar Start*/
.navBar{
    /*display: flex;*/
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
    width: 100%;
    height: 20px;
    background-color: var(--color1);
}
ul.navOpt{
    display: flex;
    margin-right: 30px;
}
ul.navOpt li{
    /*display: flex;*/
    align-items: center;
    justify-content: space-evenly;
    gap: 200px;
    list-style-type: none;
    margin-left:43px;
    font-size:16px;
    margin-top: 10px;
}

/*Electronics option Start*/
div.navBar ul.navOpt li:hover .electronics{
    display:block;
    position: absolute;
    left:0;
    top: 4%;
    background-color:var(--color1);
    width: 15%;
    padding-bottom: 85px;
    margin-left: 3%;
    border-radius: 2px;
    /*box-shadow: 0 0 1px 0;*/
    box-shadow: -1px 3px 2px var(--color1);
}
.electronics ul{
    display:block;
    list-style-type:none;
}

.electronics{
    display: none;
}
.electronics ul li{
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin-left:2.5%;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 13.5px;
}

/*Laptop Sections Start*/
div.electronics ul li:hover .Laptop{
    display:block;
    position: absolute;
    left:0;
    top: 0%;
    background-color:var(--color1);
    width: 100%;
    padding-bottom: 5%;
    margin-left: 100%;
    border-radius: 2px;
    /*box-shadow: 0 0 1px 0;*/
    box-shadow: -1px 3px 2px var(--color1);
}
.Laptop ul{
    display:block;
    list-style-type:none;
}

.Laptop{
    display: none;
}
.Laptop ul li{
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin-left:2.5%;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 13.5px;
}
/*Laptop Section Ends*/

/*TVs & Appliences Sec*/
div.navBar ul.navOpt li:hover .TVs_Applicatio{
    display:block;
    position: absolute;
    left:0;
    top: 4%;
    background-color:var(--color1);
    width: 8%;
    margin-left: 11%;
    border-radius: 2px;
    box-shadow: 0px 0px 1px 0px;
}
.TVs_Applicatio ul{
    display:block;
    list-style-type:none;
}

.TVs_Applicatio{
    display: none;
}
.TVs_Applicatio ul li{
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin-left:2.5%;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 13.5px;
}

/*Men's Wears*/

/*
div.navBar ul.navOpt li:hover .MenSec{
    display:block;
    position: absolute;
    left:0;
    top: 4%;
    background-color:var(--color1);
    width: 8%;
    margin-left: 3%;
    border-radius: 2px;
    /*box-shadow: 0 0 1px 0;*/
/*}*/
/**/
/*.MenSec ul{
    display:block;
    list-style-type:none;
}

.MenSec{
    display: none;
}
.MenSec ul li{
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin-left:2.5%;
    margin-top: 10px;
    padding-bottom: 5px;
}
*/

/*Men's Section*/
div.navBar ul.navOpt li:hover .MenSec{
    display:block;
    position: absolute;
    left:0;
    top: 4%;
    background-color:var(--color1);
    width: 14%;
    margin-left: 20%;
    border-radius: 2px;
    box-shadow: -1px 3px 2px var(--color1);
}
.MenSec ul{
    display:block;
    list-style-type:none;
}

.MenSec{
    display: none;
}
.MenSec ul li{
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin-left:2.5%;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 13.5px;
}
/*Woman Section*/
div.navBar ul.navOpt li:hover .WomanSec{
    display:block;
    position: absolute;
    left:0;
    top: 4%;
    background-color:var(--color1);
    width: 14%;
    margin-left: 25%;
    border-radius: 2px;
    box-shadow: 0 0 1px 0;
}
.WomanSec{
    display:block;
    list-style-type:none;
}

.WomanSec{
    display: none;
}
.WomanSec ul li{
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin-left:2.5%;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 13.5px;
}

/*Baby Product*/
div.navBar ul.navOpt li:hover .BabyPro{
    display:block;
    position: absolute;
    left:0;
    top: 4%;
    background-color:var(--color1);
    width: 14%;
    margin-left: 30%;
    border-radius: 2px;
    box-shadow: 0 0 1px 0;
}
.BabyPro ul{
    display:block;
    list-style-type:none;
}

.BabyPro{
    display: none;
}
.BabyPro ul li{
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin-left:2.5%;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 13.5px;
}
